# NE JAMAIS COMMITTER
.env
.env.local
.env.production
*.env*
secrets.txt
*.key
*.pem

# Dependencies
node_modules/

# Build
dist/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Local Netlify folder
.netlify

# Local media storage (big files)
storage/public/

# DB dumps
db/
*.backup
*.backup (1)
*.opdownload
